openapi: 3.0.1
info:
  title: Futrx Plugin
  description: Wordpress management tool that will CRUD your wordpress posts.
  version: 'v1'
servers:
  - url: https://chatgptpress.app.futrx.ca/
paths:
  /login:
    post:
      operationId: loginAuth
      summary: get auth uid from here. Must provide the wp site address that you want to manage
      parameters:
        - in: query
          name: site
          schema:
            type: string
          required: true
          description: chatGPT must not generate it and must be taken from user
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                response:
                  type: object
                  description: you will get auth uid and unique link to login
                  properties:
                    uid:
                      type: string
                      description: unique id that will be used to prove auth
                    link:
                      type: string
                      description: unique link to login. go and login manually.
  /token:
    post:
      operationId: getToken
      summary: Get the auth token to request protected URL
      parameters:
        - name: uid
          in: query
          description: the uid you already got
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tokenResponse'
  /updatePost/{token}:
    post:
      operationId: updatePost
      summary: update a existed post that already have been in wp
      parameters:
        - in: path
          name: token
          schema:
            type: string
          required: true
          description: use the token you already got after login from /token endpoint
        - name: title
          in: query
          description: new or modified title for the post that will be replaced
          required: false
          schema:
            type: string
        - name: content
          in: query
          description: new or modified content for the post that will be replaced
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: up to date status for the post that will be replaced
          required: false
          schema:
            type: string
        - name: post_id
          in: query
          description: unique id number for the specific post that is needed to change
          required: true
          schema:
            type: number
        - name: postType
          in: query
          description: type or category of the post
          required: true
          schema:
            type: string
        
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updatePostResponse'
  /addPost/{token}:
    post:
      operationId: addPost
      summary: add a new post to wp
      parameters:
      - in: path
        name: token
        schema:
            type: string
        required: true
        description: use the token you already got after login from /token endpoint
      - name: postType
        in: query
        description: type or category of the post
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/addPostData'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addPostResponse'
  /findPlugin/{token}/{keyword}:
    post:
      operationId: findPlugin
      summary: find and suggest wp plugins using specific keyword
      parameters:
      - in: path
        name: token
        schema:
            type: string
        required: true
        description: use the token you already got after login from /token endpoint
      - in: path
        name: keyword
        schema:
            type: string
        required: true
        description: the keyword to search the specific wp plugin.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findPluginResponse'
  /installPlugin/{token}/{slug}:
    post:
      operationId: installPlugin
      summary: install one plugin from the suggested list
      parameters:
      - in: path
        name: token
        schema:
            type: string
        required: true
        description: use the token you already got after login from /token endpoint
      - in: path
        name: slug
        schema:
            type: string
        required: true
        description: the plugin slug that will be installed.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/installPluginResponse'
  /debug/{token}:
    post:
      operationId: debugWP
      summary: get issues, error and warnings from wp debug
      parameters:
      - in: path
        name: token
        schema:
            type: string
        required: true
        description: use the token you already got after login from /token endpoint
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/debugResponse'

  /posts/{token}:
    post:
      operationId: getPostDetails
      summary: Get the details of specific post by id
      parameters:
        - in: path
          name: token
          schema:
            type: string
          required: true
        - name: postId
          in: query
          description: get one post with specific post Id
          required: true
          schema:
            type: string
        - name: postType
          in: query
          description: type or category of the post
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPostDetailsResponse'
      
    get:
      operationId: getPosts
      summary: Get the list of posts
      parameters:
        - in: path
          name: token
          schema:
            type: string
          required: true
          description: use the token you already got after login from /token endpoint
        - name: afterDate
          in: query
          description: get post after specific date
          required: false
          schema:
            type: string
        - name: beforeDate
          in: query
          description: get post before specific date
          required: true
          schema:
            type: string
        - name: postType
          in: query
          description: get post type or category
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getListResponse'
                
  /deletePost/{token}/{postId}:
    post:
      operationId: deletePost
      summary: delete specifc post
      parameters:
        - in: path
          name: postId
          schema:
              type: string
          required: true
          description: specific post id that will be removed
        - in: path
          name: token
          schema:
              type: string
          required: true
          description: use the token you already got after login from /token endpoint
        - name: postType
          in: query
          description: type or category of the post
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deletePostResponse'

components:
  schemas:
    tokenResponse:
      type: object
      properties:
        token:
          type: string
    addPostData:
      type: object
      properties:
        title:
          type: string
          description: Title for the new post that will be added
        content:
          type: string
          description: HTML format post body that will be added as a new post
    updatePostResponse:
      type: object
      properties:
        list:
          type: array
          items:
            postDetails: string
          description: The post has been updated successfully.
    addPostResponse:
      type: object
      properties:
        list:
          type: array
          items:
            postDetails: string
          description: Post details that have been added successfully.
    getListResponse:
      type: object
      properties:
        response:
          type: array
          items:
            post: string
          description: The list of posts.
    getPostDetailsResponse:
      type: object
      properties:
        response:
          type: object
          description: Post details.
    deletePostResponse:
      type: object
      properties:
        description:
          type: object
    findPluginResponse:
      type: object
      properties:
        action:
          type: string
          description: "find the best plugins and compare and suggest which one to install"
        wordpress_version:
          type: string
          description: chatGPT will see which plugins will be compatible with this wp version
        plugins:
            type: array
            items:
              plugin:
                type: object
            description: the plugins list that should be analysis and chatGPT will suggest the best one to install.
    installPluginResponse:
      type: object
      properties:
        result:
          type: string
          description: "plugin install result"
    debugResponse:
      type: object
      properties:
        action:
          type: string
          description: "Please find the way how to solve the issue"
        plugins:
            type: array
            items:
              plugin:
                type: object
            description: the warnings and error from WP debug.
